<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/stylesheets/personalize.css" rel="stylesheet" type="text/css">
    </head>
    <% include templates/head.ejs %>
    <body>
        <!-- This imports the naviagtion template I made -->
        <% include templates/navigation.ejs %>
        <div id="wrapper">
            <% include templates/sidebar.ejs %>
            <!-- Page Content -->
            <div id = "page-content-wrapper">
                <div class="container-fluid">
                    <!-- This imports an image -->
                    <div class = "row">
                        <div class = "text-center">
                             <p>*This will have an issue report form*</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <script>
            //sidebar toggle
            $("#menu-toggle").click( function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("menuDisplayed");
            });
        </script>    
    </body>
</html>









