<!DOCTYPE html>
	<head>
		<link rel="stylesheet" href="/stylesheets/sidebar.css">
	</head>
<html lang="en">
	<!-- Sidebar -->
    <div id = "sidebar-wrapper">
        <ul class = "sidebar-nav">
            <li><a href = "#">Authorize FOURSQUARE</a></li>
            <li><a href = "contribute">Add a Location</a></li>
            <li><a href = "contribute">Add Images to a Location</a></li>
            <li><a href = "contribute">Add Things to do to a Location</a></li>
            <li><a href = "issueReport">Report an Issue</a></li>
            <li><a href = "contact">Contact Us</a></li>
        </ul>
    </div>
</html>














